# Database connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/todalk?schema=public"

# Server Port
PORT=3000

# JWT secrets
JWT_SECRET="your-jwt-access-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"

# Rate Limit settings
THROTTLE_TTL=60
THROTTLE_LIMIT=10
